// Fonts
$primaryFontSize: 1em;

$primaryFontWeight: 700;
$secondaryFontWeight: 400;
$tertiaryFontWeight: 100;

// Colors
$primaryColor: #ae1e1e;
$secondaryColor: #3e4042;

$primaryFontColor: white;
$secondaryFontColor: white;

// Sizes
$sml: 500px;
$mdm: 750px;
$lrg: 1000px;
$xlrg: 1200px;