.navbar {
    .navbar-title {
        color: $secondaryFontColor;
        font-size: 1.5em;
        font-weight: secondaryFontWeight;
        @media all and (min-width: $lrg) {
            font-size: 2em;
        }
    }
}

.navbar.main {
    background-color: $secondaryColor !important;

    .navbar-nav {
        margin: 20px 0;
    }

    .nav-item {
        border-top: 1px solid white;
        padding: 10px 0;

        &:last-child {
            border-bottom: 1px solid white;
        }

        a {
            color: $secondaryFontColor;
        }
    }
}

.navbar.secondary {
    .navbar-nav {
        flex-flow: row wrap;
        justify-content: flex-start;
        width: 100%;

        .nav-item {
            a {
                color: $primaryColor;
            }
        }
    }
}

.model-navbar-outer {
    margin-bottom: 20px;
    .model-navbar-inner {
        border-bottom: 1px solid rgba(0,0,0,.125);
        border-top: 1px solid rgba(0,0,0,.125);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        .right {
            display: flex;
            flex-flow: row nowrap;
            .btn {
                margin: 0 !important;
                margin-left: 5px !important;
            }
        }   
    }
}
