<nav class="secondary navbar navbar-expand navbar-dark bg-light">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Encounters</a>
            <a class="dropdown-item" href="#">PC's</a>
            <a class="dropdown-item" href="#">NPC's</a>
          </div>
        </div>
      </li>
    </ul>
</nav>