<nav class="secondary navbar navbar-expand bg-light">
    <ul class="container-fluid">
      <li class="nav-item">
         <%= link_to  "Encounters", encounters_path, class: "nav-link" %>
      </li>
       <li class="nav-item">
         <%= link_to  "PCS", pcs_path, class: "nav-link" %>
      </li>
       <li class="nav-item">
         <%= link_to  "NPCS", npcs_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
         <%= link_to  "Items", items_path, class: "nav-link" %>
      </li>
    </ul>
</nav>